<section class="user-profile">
  <div class="container">
    <h2 class="section-title">User Profile</h2>
    <div class="profile-details">
      <div class="profile-avatar">
        <img src="" alt="User Avatar" />
      </div>
      <div class="profile-info">
        <div class="profile-field">
          <label>Username:</label>
          <span>{{ user.username }}</span>
        </div>
        <div class="profile-field">
          <label>Email:</label>
          <span>{{ user.email }}</span>
        </div>
        <div class="profile-field">
          <label>Phone number:</label>
          <span>{{ user.tel }}</span>
        </div>
      </div>
    </div>
  </div>
</section>





