<section class="section about-us" aria-label="about us">
  <div class="container">
    <div class="about-content">
      <h2 class="section-title">Welcome to <span class="mini-title">Our Universe</span></h2>
      <p class="about-description">
        Embark on a journey through the cosmos of gaming excellence. Our mission
        is to provide you with an unparalleled gaming experience that transcends
        galaxies. Explore the infinite possibilities that await you!
      </p>
    </div>

    <div class="about-details">
      <div class="about-item">
        <img src="../../../assets/images/brand-3.png" alt="">
        <h3>Experience</h3>
        <p>
          Immerse yourself in immersive gameplay with stunning graphics and
          realistic environments.
        </p>
      </div>

      <div class="about-item">
        <img src="../../../assets/images/brand-2.png" alt="">
        <h3>Community</h3>
        <p>
          Join a vibrant community of gamers from around the world, share your
          experiences, and make new friends.
        </p>
      </div>

      <div class="about-item">
        <img src="../../../assets/images/brand-1.png" alt="">
        <h3>Quality</h3>
        <p>
          Delivering top-notch quality games and services to satisfy even the
          most discerning gamers.
        </p>
      </div>
    </div>

    <div class="about-details-text">
      <p>
        But our universe is not just about gaming; it's about creating memorable
        experiences, fostering creativity, and building lasting connections.
        Whether you're a casual player or a hardcore gamer, there's something
        for everyone here.
      </p>
      <p>
        So, what are you waiting for? Dive into our universe and let the
        adventure begin!
      </p>
    </div>
  </div>
</section>
