<article style="height: 100rem; width: auto; background-color: aliceblue">
  <section
    class="section latest-game"
    aria-label="latest game"
    style="
      background-image: url('../../../assets/images/section-wrapper-bg.png');
      background-size: 100%;
      background-position: bottom;
      background-color: aliceblue;
    "
  >
  <div class="container">
    <p class="section-subtitle">Latest Releases</p>
    
    <h2 class="h2 section-title">Games</h2>
    
    <ul class="has-scrollbar">
      <div *ngIf="isLoading" class="loader">
        <app-loader/>
      </div>
      <li *ngFor="let game of games" class="scrollbar-item">
          <div *ngIf="!isLoading" class="latest-game-card" [routerLink]="game._id">
            <figure
              class="card-banner img-holder"
              style="--width: 400; --height: 470"
            >
              <img
                src="{{ game.imageUrl }}"
                width="400"
                height="470"
                loading="lazy"
                alt="White Walker Daily"
                class="img-cover"
              />
            </figure>

            <div class="card-content">
              <a class="card-badge skewBg">{{ game.genre }}</a>

              <h3 class="h3">
                <a class="card-title">{{ game.title }}</a>
              </h3>

              <p class="card-price">
                Entry Fee : <span class="span">${{ game.price }}</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</article>
