.section.latest-game {
  background-color: var(--white);
  position: relative;
}

.latest-game .section-subtitle {
  font-size: 1.6rem;
  color: var(--silver);
}

.latest-game .section-title {
  font-size: 3.5rem;
  margin-bottom: 40px;
  color: var(--white);
  text-transform: uppercase;
}

.latest-game .has-scrollbar {
  margin-inline: -8px;
  padding-inline: 80vh;
  scroll-padding-inline-start: 36vh;
  margin-bottom: 86px;
  padding-top: 5vh;
  overflow-x: auto;
}

.latest-game-card {
  padding-top: 10px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  /* transition: transform 0.4s ease; */
  overflow: hidden;
}

/* .latest-game-card:hover {
  transform: translateY(-5px);
} */

.latest-game-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--xiketic_90);
  padding: 35px 25px;
}

.latest-game-card .card-badge {
  position: absolute;
  bottom: 100%;
  left: 25px;
}

.latest-game-card .card-title {
  margin-block-end: 12px;
  color: aliceblue;
  transition: var(--transition);
}

.latest-game-card .card-title:hover, .latest-game-card .card-title:focus {
  color: var(--marigold);
}

.latest-game-card .card-price {
  color: var(--silver);
  font-size: var(--fs-10);
  font-weight: var(--fw-600);
}

.latest-game-card .card-price .span {
  margin-inline-start: 5px;
}

.latest-game .has-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.loader {
  position:fixed;
  margin-left: 174px;
}

/* Animation for .latest-game-card */
.latest-game-card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Apply smooth transition */
  animation: fadeInUp 1s ease forwards; /* Apply fadeInUp animation */
}

/* Keyframes for the fadeInUp animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}















