<article style="height: 100rem; width: auto;">
  <section class="newsletter" aria-label="newsletter">
    <div class="container">
      <div class="newsletter-card">
        <h2 class="h2 section-title">Register</h2>
        <form action="" class="newsletter-form">
          <div class="input-wrapper skewBg">
            <input
            type="email"
            name="email_address"
            aria-label="email"
            placeholder="Enter your email..."
            required
            class="email-field"
            />
            
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          
          <div class="input-wrapper skewBg">
            <input
            type="password"
            name="password"
            aria-label="password"
            placeholder="Enter your password..."
            required
            class="password-field"
            />
            
            <ion-icon name="lock-closed-outline"></ion-icon>
          </div>
          
          <div class="input-wrapper skewBg">
            <input
            type="password"
            name="password"
            aria-label="password"
            placeholder="Enter your password again..."
            required
            class="password-field"
            />
            
            <ion-icon name="lock-closed-outline"></ion-icon>
          </div>
          
          <p>
            <a class="field"
            ><ion-icon name="alert-outline"></ion-icon> If you already have profile click
            <span routerLink="/login" class="link">here</span></a
            >
          </p>
          
          <button type="submit" class="btn newsletter-btn skewBg">
            <span class="span">Register</span>
            
            <ion-icon name="log-in-outline"></ion-icon>
          </button>
        </form>
      </div>
    </div>
  </section>
</article>
  