.newsletter {
  margin-block-end: 80px;
}

.newsletter {
  padding: 300px;

  background-image: url("../../../assets/images/section-wrapper-bg.png");
}

.newsletter-card {
  /* background-color: var(--raisin-black-3); */
  padding: 40px 15px;
  margin-block-start: -55px;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
}

.newsletter .h2 {
  font-size: var(--fs-4);
  text-transform: uppercase;
  text-align: center;
  margin-block-end: 30px;
}

.newsletter .input-wrapper {
  max-width: 300px;
  margin-inline: auto;
  margin-block-end: 10px;
}

.newsletter .email-field {
  font-size: var(--fs-9);
  color: var(--white);
  font-weight: var(--fw-500);
  padding: 17px 45px;
  padding-inline-end: 20px;
  outline: none;
}

.newsletter .password-field {
  font-size: var(--fs-9);
  color: var(--white);
  font-weight: var(--fw-500);
  padding: 17px 45px;
  padding-inline-end: 20px;
  outline: none;
}

.newsletter .input-wrapper ion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: var(--marigold);
  --ionicon-stroke-width: 50px;
}

.newsletter .input-wrapper::before {
  --bg: var(--raisin-black-4);
  --skewX: -20deg;
}

.newsletter-btn {
  font-size: var(--fs-9);
  display: flex;
  align-items: center;
  gap: 5px;
  padding-inline: 20px;
  transition: var(--transition);
  justify-content: center;
}

.newsletter-btn::after {
  display: none;
}

.newsletter-btn::before {
  --skewX: -20deg;
  transition: var(--transition);
}

.newsletter-btn:is(:hover, :focus) {
  color: var(--marigold);
}

.newsletter-btn:is(:hover, :focus)::before {
  background-color: var(--white);
}

.newsletter :is(.input-wrapper, .newsletter-btn) {
  margin: 0;
}

.newsletter .input-wrapper {
  max-width: unset;
  width: 100%;
}

.newsletter .h2 {
  --fs-4: 2.6rem;
}

.newsletter-form {
  display: flex;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  margin-inline: auto;
  flex-direction: column;
  padding-top: 50px;
  gap: 15px;
}

.newsletter-form {
  max-width: 650px;
}

.newsletter-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 70px;
}

.newsletter .h2 {
  margin-block-end: 0;
}

.newsletter-form {
  margin-inline: 0;
}

.live-match {
  padding-block-start: 0;
  overflow-x: hidden;
}

.live-match .section-title {
  margin-block-end: 90px;
}

.field {
  display: flex;
  padding-right: 50px;
  color: white;
  font-family: var(--ff-oxanium);
  gap: 5px;
}

.link {
  cursor: pointer;
  color: hsl(42, 99%, 46%);
}

.newsletter .input-wrapper.skewBg::before {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.newsletter .input-wrapper.skewBg:hover::before {
  border-color: var(--marigold);
  box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
}
