<article style="height: 100rem; width: auto">
  <section class="newsletter" aria-label="newsletter">
    <div class="container">
      <div class="newsletter-card">
        <h2 class="h2 section-title">Register</h2>
        <form
          class="newsletter-form"
          [formGroup]="form"
          (ngSubmit)="register()"
        >
          <div class="input-wrapper skewBg">
            <input
              type="username"
              name="username"
              aria-label="username"
              placeholder="Enter your username..."
              required
              class="email-field"
              formControlName="username"
            />
            <ion-icon name="person-outline"></ion-icon>
          </div>

          <ng-container
            *ngIf="
              form.get('username')?.touched && !form.get('username')?.value
            "
          >
            <p
              class="error"
              [class.active]="form.get('username')?.errors?.['required']"
            >
              Username is required!
            </p>
          </ng-container>

          <ng-container
            *ngIf="form.get('username')?.errors?.['minlength']"
          >
            <p
              class="error"
              [class.active]="form.get('username')?.errors?.['minlength']"
            >
              Username must be at least 5 characters!
            </p>
          </ng-container>

          <div class="input-wrapper skewBg">
            <input
              type="email"
              name="email"
              aria-label="email"
              placeholder="Enter your email..."
              required
              class="email-field"
              formControlName="email"
            />

            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <ng-container
            *ngIf="form.get('email')?.touched && !form.get('email')?.value"
          >
            <p
              class="error"
              [class.active]="form.get('email')?.errors?.['required']"
            >
              Email is required!
            </p>
          </ng-container>

          <ng-container *ngIf="form.get('email')?.errors?.['emailValidator']">
            <p
              class="error"
              [class.active]="form.get('email')?.errors?.['emailValidator']"
            >
              Email is not valid!
            </p>
          </ng-container>

          <div class="input-wrapper skewBg">
            <input
              type="tel"
              name="tel"
              aria-label="tel"
              placeholder="Enter your phone number..."
              required
              class="email-field"
              formControlName="tel"
            />
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <ng-container
            *ngIf="form.get('tel')?.touched && !form.get('tel')?.value"
          >
            <p
              class="error"
              [class.active]="form.get('tel')?.errors?.['required']"
            >
              Phone number is required!
            </p>
          </ng-container>

          <ng-container formGroupName="passGroup">
            <div class="input-wrapper skewBg">
              <input
                type="password"
                name="password"
                aria-label="password"
                placeholder="Enter your password..."
                required
                class="password-field"
                minlength="5"
                formControlName="password"
              />

              <ion-icon name="lock-closed-outline"></ion-icon>
            </div>

            <ng-container
              *ngIf="
                form.get('passGroup')?.get('password')?.touched &&
                !form.get('passGroup')?.get('password')?.value
              "
            >
              <p
                class="error"
                [class.active]="form.get('passGroup')?.get('password')?.errors?.['required']"
              >
                Password is required!
              </p>
            </ng-container>

            <ng-container
              *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']
              "
            >
              <p
                class="error"
                [class.active]="form.get('passGroup')?.get('password')?.errors?.['minlength']"
              >
                Password must be at least 5 characters!
              </p>
            </ng-container>

            <div class="input-wrapper skewBg">
              <input
                type="password"
                name="rePassword"
                aria-label="password"
                placeholder="Enter your password again..."
                required
                class="password-field"
                formControlName="rePassword"
              />

              <ion-icon name="lock-closed-outline"></ion-icon>
            </div>
          </ng-container>

          <ng-container
            *ngIf="form.get('passGroup')?.errors?.['passwordValidator'] && form.get('passGroup')?.get('rePassword')?.touched"
          >
            <p
              class="error"
              [class.active]="form.get('passGroup')?.errors?.['passwordValidator'] || form.get('passGroup')?.get('rePassword')?.errors?.['required']"
            >
              Repeat password does not match password!
            </p>
          </ng-container>

          <p>
            <a class="field"
              ><ion-icon name="alert-outline"></ion-icon> If you already have
              profile click
              <span routerLink="/login" class="link">here</span></a
            >
          </p>

          <button
            [disabled]="form.invalid"
            type="submit"
            class="btn newsletter-btn skewBg"
          >
            <span class="span">Register</span>

            <ion-icon name="log-in-outline"></ion-icon>
          </button>
        </form>
      </div>
    </div>
  </section>
</article>
