<section class="game-details" style="position: relative;">
  <div class="background-container" style="position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background-image: url('{{ game.backgroundImage }}'); background-size: cover; background-repeat: no-repeat; filter: blur(5px) brightness(40%); z-index: -1;"></div>
  <div class="container">
    <h2 class="h2 section-title">Game Details</h2>
    <div class="game-details-content" style="filter: brightness(120%);">
      <div class="game-image">
        <img
          style="width: 60vh; height: 60vh; display: none;"
          src="{{ game.imageUrl }}"
          alt="Game Image"
        />
      </div>
      <div class="game-info">
        <ng-container>
          <h2 class="game-title">{{ game.title }}</h2>
          <div class="game-meta">
            <p><strong>Genre:</strong> {{ game.genre }}</p>
            <p><strong>Developer:</strong> {{ game.developer }}</p>
            <p><strong>Release Year:</strong> {{ game.releaseYear.toString().slice(0, 10) }}</p>
            <p><strong>Price:</strong> ${{ game.price }}</p>
          </div>
          <p class="game-description">
            {{ game.description }}
          </p>
          <div class="game-actions">
            <button class="edit-button" [routerLink]="['/edit', game._id]">
              <ion-icon name="create-outline"></ion-icon>
            </button>
            <button class="delete-button" (click)="deleteGame()">
              <ion-icon name="trash-outline"></ion-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>