.game-details {
  padding: 110px;
  background-color: var(--raisin-black-3);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

.game-details-content {
  display: flex;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}

.game-image {
  /* flex: 0 0 40%; */
  margin-right: 60px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.game-image img {
  max-width: 150%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.game-info {
  flex: 1;
  font-family: var(--ff-oxanium);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.game-title {
  font-size: 3rem;
  margin-bottom: 20px;
  /* color: #333; */
  color: var(--silver);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.game-meta p {
  margin-bottom: 10px;
  font-size: 2rem;
  color: var(--roman-silver);
}

.game-description {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--roman-silver);
}

.game-actions {
  margin-top: 20px;
  display: flex;
}

.edit-button,
.delete-button {
  /* padding: 10px 20px; */
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 3.5rem;
  transition: background-color 0.3s;
}

.edit-button:hover,
.delete-button:hover {
  color: var(--dim-gray);
}

.h2 {
  font-size: var(--fs-4);
  text-transform: uppercase;
  text-align: center;
  margin-block-end: 90px;
}

/* .input-wrapper {
  max-width: 300px;
  margin-inline: auto;
  margin-block-end: 10px;
}

.email-field {
  font-size: var(--fs-9);
  color: var(--white);
  font-weight: var(--fw-500);
  padding: 10px 28px;
  padding-inline-end: 20px;
  outline: none;
}

.password-field {
  font-size: var(--fs-9);
  color: var(--white);
  font-weight: var(--fw-500);
  padding: 10px 28px;
  padding-inline-end: 20px;
  outline: none;
}

.input-wrapper ion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: var(--marigold);
  --ionicon-stroke-width: 50px;
}

.input-wrapper::before {
  --bg: var(--raisin-black-4);
  --skewX: -20deg;
}

.input-wrapper {
  max-width: unset;
  width: 50%;
}

.input-wrapper.skewBg::before {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.input-wrapper.skewBg:hover::before {
  border-color: var(--marigold);
  box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
} */
