.footer {
  color: var(--roman-silver);
  background-color: var(--eerie-black-2);
}

.footer-text,
.footer .contact-item {
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-block-end: 15px;
}

.footer-bottom {
  background-color: var(--eerie-black-2);
  padding-block: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.copyright {
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  line-height: 1.8;
}

.copyright-link {
  display: inline-block;
  color: var(--marigold);
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


