<footer class="footer">
  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">
        &copy; 2022 Gamics. All Right Reserved by
        <a href="#" class="copyright-link">Miroslav Georgiev</a>
      </p>

      <div class="footer-wrapper">
        <div class="social-wrapper">
          <p class="footer-list-title">Follow Us</p>
          <ul class="social-list">
            <li>
              <a href="#" class="social-link" style="background-color: #3b5998">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link" style="background-color: #55acee">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link" style="background-color: #d71e18">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link" style="background-color: #1565c0">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
