<article style="height: 88rem; width: auto; overflow-y:scroll;">
    <section
      class="section hero"
      id="home"
      aria-label="home"
      style="background-image: url('../../../assets/images/hero-bg.jpg')" 
    >
      <div class="container">
        <div class="hero-content">
          <p class="hero-subtitle">Immerse Yourself in Gaming Delight</p>

          <h1 class="h1 hero-title">
            Level Up <span class="span">Your</span> Collection
          </h1>

          <p class="hero-text">
            Discover, click, conquer. Your gaming haven awaits – where
            excitement fits in every byte!
          </p>

          <button routerLink="/about" class="btn skewBg">Read More</button>
        </div>

        <figure
          class="hero-banner img-holder"
          style="--width: 700; --height: 700"
        >
          <img
            src="../../../assets/images/hero-banner.png"
            width="700"
            height="700"
            alt="hero banner"
            class="w-50"
          />
        </figure>
      </div>
    </section>
</article>
