/* The alert message box */
.alert {
  position: absolute;
  bottom: 85vh;
  width: 100%; /* Span the entire width of the page */
  padding: 20px;
  background-color: #f44336; /* Red */
  color: var(--white);
  font-family: var(--ff-oxanium);
  font-size: var(--fs-7);
  margin-bottom: 5px;
  opacity: 0; /* Initially hidden */
  animation: popUp 0.5s forwards; /* Apply pop-up animation */
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: var(--white);
  font-weight: bold;
  float: right;
  font-size: var(--fs-4);
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

@keyframes popUp {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
