.header-top,
.cart-btn,
.header-bottom::before,
.navbar-link::before {
  display: none;
}

.header {
  position: relative;
  min-height: 1px;
}

.header-bottom {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  background-color: var(--raisin-black-2);
  padding-block: 20px;
  z-index: 4;
}

.header-bottom.active {
  position: fixed;
  top: -85px;
  animation: slideIn 0.5s var(--cubic-out) forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--white);
  font-family: var(--ff-oxanium);
  font-size: 3rem;
  font-weight: var(--fw-800);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-btn {
  color: var(--marigold);
  padding: 13px;
  box-shadow: var(--shadow-1);
  border-radius: 4px;
}

.search-btn ion-icon {
  --ionicon-stroke-width: 80px;
}

.nav-toggle-btn {
  color: var(--white);
  font-size: 30px;
  border: 1px solid var(--white);
  padding: 4px;
}

.nav-toggle-btn.active .menu,
.nav-toggle-btn .close {
  display: none;
}

.nav-toggle-btn .menu,
.nav-toggle-btn.active .close {
  display: block;
}

.navbar {
  background-color: var(--eerie-black-1);
  color: var(--white);
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 350px;
  visibility: hidden;
  max-height: 0;
  transition: 0.25s var(--cubic-out);
  overflow: hidden;
}

.navbar.active {
  visibility: visible;
  max-height: 275px;
  transition-duration: 0.5s;
}

.navbar-item:not(:last-child) {
  border-block-end: 1px solid var(--white_15);
}

.navbar-link {
  padding: 10px 25px;
  transition: var(--transition);
}

.navbar-link:is(:hover, :focus) {
  background-color: var(--white_10);
}

.header-actions {
  gap: 40px;
}

.cart-btn {
  display: block;
  position: relative;
  color: var(--white);
  font-size: 20px;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: var(--marigold);
  color: var(--eerie-black-1);
  font-size: var(--fs-11);
  border-radius: 20px;
  padding: 3px 5px;
  line-height: 1;
  font-weight: var(--fw-800);
}

.header-top {
  display: block;
  background-image: url("../../../assets/images/header-top-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-block: 20px;
}

.header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countdown-text {
  color: var(--quick-silver);
  font-size: var(--fs-10);
  font-weight: var(--fw-600);
}

.countdown-text .span {
  display: inline-block;
  color: var(--xiketic);
  font-size: 1.8rem;
  font-weight: var(--fw-700);
  padding: 10px 20px;
  margin-inline: 5px;
}

.header :is(.social-wrapper, .social-list) {
  display: flex;
  align-items: center;
}

.header .social-wrapper {
  gap: 15px;
}

.header .social-list {
  gap: 10px;
}

.social-title {
  color: var(--white);
  font-family: var(--ff-oxanium);
  font-size: var(--fs-8);
  font-weight: var(--fw-700);
}

.header .social-link {
  background-color: var(--jet);
  color: var(--marigold);
  font-size: var(--fs-9);
  padding: 8px 10px;
}

.header-bottom {
  outline: 1px solid hsla(0, 0%, 0%, 0.2);
}

.header-bottom::before {
  display: block;
  top: 0;
  left: -15px;
  right: auto;
  width: 170px;
  --skewX: 16deg;
}

.nav-toggle-btn {
  display: none;
}

.navbar,
.navbar.active {
  all: unset;
  margin-inline: auto 15px;
}

.navbar-list {
  display: flex;
}

.navbar-item:not(:last-child) {
  border-block-end: none;
}

.navbar-link {
  color: var(--white);
  font-family: var(--ff-oxanium);
  font-size: var(--fs-11);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  padding: 10px 20px;
}

.navbar-link::before {
  display: block;
  opacity: 0;
  transition: var(--transition);
}

.navbar-link:is(:hover, :focus) {
  background-color: transparent;
  color: var(--xiketic);
}

.navbar-link:is(:hover, :focus)::before {
  opacity: 1;
}

.header-bottom::before {
  width: 270px;
}

.navbar-link {
  font-size: var(--fs-9);
  padding-inline: 25px;
}
