<section
  class="newsletter"
  aria-label="newsletter"
  style="height: 100rem; width: auto"
>
  <div class="container">
    <div class="newsletter-card">
      <h2 class="h2 section-title">Login</h2>
      <form class="newsletter-form" #form="ngForm" (ngSubmit)="login(form)">
        <div class="input-wrapper skewBg">
          <input
            type="email"
            name="email"
            aria-label="email"
            placeholder="Enter your email..."
            required
            class="email-field"
            ngModel
            #inputEmail="ngModel"
            [appEmail]="['bg', 'com']"
          />
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <ng-container *ngIf="inputEmail.touched && !inputEmail.value">
          <p class="error" [class.active]="inputEmail.errors?.['required']">
            Email is required!
          </p>
        </ng-container>
        <ng-container *ngIf="inputEmail.errors?.['emailValidator']">
          <p class="error" [class.active]="inputEmail.errors?.['emailValidator']">
            Email is not valid!
          </p>
        </ng-container>

        <div class="input-wrapper skewBg">
          <input
            type="password"
            name="password"
            aria-label="password"
            placeholder="Enter your password..."
            required
            class="password-field"
            ngModel
            #inputPassword="ngModel"
            minlength="5"
          />
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>
        <ng-container *ngIf="inputPassword.touched && !inputPassword.value">
          <p class="error" [class.active]="inputPassword.errors?.['required']">
            Password is required!
          </p>
        </ng-container> 
        <ng-container *ngIf="inputPassword.errors?.['minlength']">
          <p class="error" [class.active]="inputPassword.errors?.['minlength']">
            Password must be at least 5 characters!
          </p>
        </ng-container>

        <p>
          <a class="field"
            ><ion-icon name="alert-outline"></ion-icon> If you don't have
            profile click
            <span routerLink="/register" class="link">here</span></a
          >
        </p>

        <button [disabled]="form.invalid" type="submit" class="btn newsletter-btn skewBg">
          <span class="span">Login</span>

          <ion-icon name="log-in-outline"></ion-icon>
        </button>
      </form>
    </div>
  </div>
</section>
